@page
@model IndexModel
@{
    ViewData["Title"] = "Login";

    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/eShop.styles.css" asp-append-version="true" />

<form method="post" class="Login">
    <div class="container">
        <div class="row">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="text" id="Username" asp-for="Username" class="form-control" />
                <label class="form-label" for="Username">Username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" id="Passwprd" asp-for="Password" class="form-control" />
                <label class="form-label" for="Passwprd">Password</label>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" asp-page-handler="Login" class="btn btn-primary btn-block mb-4">Sign in</button>
        </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>